

.table-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width:fit-content;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border-bottom: 1px solid #ddd;
    text-align:center;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #313132;
    color: white;
}

