/* Adjusting search section padding */
.search-section {
    padding: 50px 0;
    text-align: center;
}

.placeholder {
    background-color: #e9ecef;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #6c757d;
}

/* Table for 기업 최신 동향 */
.news-table {
    width: 100%;
    background-color: #f8f9fa;
    border-collapse: collapse;
}

.news-table th,
.news-table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
}


/*패널 부분*/
.tab-pane {
    height: 600px;
    /* 원하는 최대 높이 설정 */
    overflow-y: auto;
    /* 세로 스크롤 적용 */
}
#strength {
    /*background-image: url('path_to_your_image_1.jpg'); !* Strengths 탭의 배경 이미지 *!*/
    background-size: cover; /* 이미지가 패널 크기에 맞게 조정되도록 설정 */
    background-position: center;
    min-height: 400px; /* 최소 높이 설정 */
}

#weakness {
    /*background-image: url('path_to_your_image_2.jpg'); !* Weaknesses 탭의 배경 이미지 *!*/
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

#opportunity {
    /*background-image: url('path_to_your_image_3.jpg'); !* Opportunities 탭의 배경 이미지 *!*/
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

#threat {
    /*background-image: url('path_to_your_image_4.jpg'); !* Threats 탭의 배경 이미지 *!*/
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.news-table {
    width: 100%;
    border-collapse: collapse;
}
.news-table th, .news-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;  /* 가운데 정렬 */
}
.news-table th {
    background-color: #f2f2f2;
}

.news-table img {
    width:150px;
    height:100px;   /*이미지 크기 조정*/
}
