.main-content {
  background: white;
  padding-top: 50px;
}

/* Jumbotron styling */
.jumbotron {
  background-color: #626FC7;
  color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.jumbotron h1 {
  font-size: 2.5rem;
}

.jumbotron p {
  font-size: 1.2rem;
}
.search-section {
  padding: 50px 0;
  text-align: center;
}

/* Table for 기업 최신 동향 */
.news-table {
  width: 100%;
  background-color: #f8f9fa;
  border-collapse: collapse;
}

.news-table th,
.news-table td {
  border: 1px solid #dee2e6;
  padding: 10px;
  text-align: left;
}

.news-table {
  width: 100%;
  border-collapse: collapse;
}
.news-table th, .news-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;  /* 가운데 정렬 */
}
.news-table th {
  background-color: #f2f2f2;
}

.news-table img {
  width:150px;
  height:100px;  
}

/*기업 정보 Section*/



/**/



/* SWOT CARD Styling */
.swot-card {
 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-height: 500px; /* 최소 높이 설정 */
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto; /* 고정 높이 제거 */
  overflow: auto; /* 넘치는 내용을 숨김 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease; /* 부드러운 변환 효과 */
}
.swot-card:hover {
  transform: scale(1.05); /* 마우스를 올리면 1.05배 확대 */
}


.swot-letter {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.swot-card h5 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.swot-card ul {
  font-size: 1rem;
  padding-left: 20px;
  list-style: none;
}

.swot-card ul li {
  margin-bottom: 8px;
}


/* Text color for the letters (S, W, O, T) */
.swot-letter-S {
  color: #007bff; /* Strengths - Blue */
}

.swot-letter-W {
  color: #fd7e14; /* Weaknesses - Orange */
}

.swot-letter-O {
  color: #28a745; /* Opportunities - Green */
}

.swot-letter-T {
  color: #dc3545; /* Threats - Red */
}
#S:hover{
  background-image: url(/static/img/swotS.svg);
}
#W:hover{
  background-image: url(/static/img/swotW.svg);
}
#O:hover{
  background-image: url(/static/img/swotO.svg);
}
#T:hover{
  background-image: url(/static/img/swotT.svg);
}





/*패널 부분*/
.tab-pane {
  height: 600px;
  /* 원하는 최대 높이 설정 */
  overflow-y: auto;
  /* 세로 스크롤 적용 */
}

#strength {
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
}

#weakness {
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
}
#opportunity {
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
}

#threat {
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
}

/**/




/* Table for 기업 최신 동향 */
.news-table {
  width: 100%;
  background-color: #f8f9fa;
  border-collapse: collapse;
}

.news-table th,
.news-table td {
  border: 1px solid #dee2e6;
  padding: 10px;
  text-align: left;
}

.news-table {
  width: 100%;
  border-collapse: collapse;
}
.news-table th, .news-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;  /* 가운데 정렬 */
}
.news-table th {
  background-color: #f2f2f2;
}

.news-table img {
  width:150px;
  height:150px;
}

#newsTableBody tr td a{
  text-decoration:none;
}

#newsTableBody tr td a p{
  color: black;
  font-weight: bold;
}

#newsTableBody tr td a p:hover{
  color: #3b3ec5;
  font-weight: bold;
}

