langchain
langchain-community
openai
langchain-openai
langchain-pinecone
pinecone-notebooks
python-dotenv
langchain-chroma
langchain-core
langchain-text-splitters
packaging<24,>=16.8
tenacity<9,>=8.1.0
streamlit==1.30.0
pjfunction