flask==2.0.1
requests==2.26.0
streamlit
openai
langchain community
langchain pinecone
pip install -U langchain langchain-community
pip install openai langchain-openai
pip install -qU langchain-pinecone pinecone-notebooks
langchain langchain-core langchain-community langchain-text-splitters langchain-openai langchain-pinecone
%pip install python-dotenv langchain langchain-openai langchain-community langchain-text-splitters
pip install langchain langchain-chroma